# Git and GitHub files
.git
.gitignore
.github

# Docker files (not needed inside container)
Dockerfile
docker-compose.yml
.dockerignore

# Nginx configuration (using default for now)
nginx.conf

# Documentation
README.md
*.md

# OS files
.DS_Store
Thumbs.db

# Archive files
*.zip
startbootstrap-landing-page-gh-pages.zip

# IDE files
.vscode
.idea

# Logs
*.log

#test pipeline
